@{
    ViewBag.Title = "Request password";
}

<div class="container">
    <div class="header">
        <h4>
            <img src="~/imgs/bootstrap-icons/lock-fill.svg" alt="" width="22" height="22" />
            <b>Request password</b>
        </h4>
        Fill in the form below to receive a password recovery link to your user email.
    </div>

    <p>
        <span class="text-danger">@ViewBag.Error</span>
        <span class="text-success">@ViewBag.Success</span>
    </p>

    <fieldset>
        <legend>
            Request a new password
        </legend>

        <form method="post" asp-action="RequestPassword" asp-controller="Home">
            <div class="form-group row">
                <label class="control-label col-sm-2" for="email">Your email:</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" name="email" id="email" />
                </div>
            </div>
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>

    </fieldset>
</div>